<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winter Cloth Drive</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
    <div class="loader">
        <div class="loader-img">
            <img src="img/logo.jpeg" alt="">
        </div>
    </div>
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="/"><img class="img-responsive" width="100%" src="img/logo.jpeg" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="#contact">Contact</a>
            <a class="nav-link" href="donate.html"><span>Donate</span></a>
          </div>
        </div>
      </nav>
      <div class="front">
        <div class="container">
            <div class="row">
                <div class="col-md-6 front-quote">
                    <h3>Make <br/>Someone<br/>Happy</h3>
                    <a href="/donate.html" class="donate-button">DONATE NOW</a>
                </div>
                <div class="col-md-6 image-box">
                    <div class="front-image">
                        <img src="img/back.png" width="100%" height="100%" alt="smiling child">
                    </div>
                    <div class="color-background"></div>
                </div>
            </div>
        </div>
      </div>
    <section class="donating-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    There are 1.77 million homeless people in India. In the winter season when at night you sleep within your blankets with hot water, some people
                    around you don't even have proper clothing to wear on. We aim to let no person in Jhansi sleep without a proper clothing / blanket on. Come forward and help us by any means.
                </div>
                <div class="col-md-6">
                    <h3 class="donation-head">Donate Us Money</h3>
                    Each rupee of the donation goes either in bringing blankets or in mending the old clothes .The amount donated gets reflected on our website and each donation
                    can be seen within 24 hours of donating. Donations are accepted via Paytm / Gpay / Online banking / Cash.
                </div>
                <div class="col-md-6">
                    <h3 class="donation-head">Donate Us Clothing</h3>
                    You can help us by donating sweaters, jackets, jeans, blankets, shoes, socks, caps, scarfs or any other warm cloth. 
                    The clothing should be in  quite proper condition. However, we will mend if any chain is broken or a small hole is present.
                    We will also be creating blankets out of the proper warm clothes received.
                </div>
            </div>
        </div>
    </section>

    <div class="want-to-donate">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    I WANT TO DONATE
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="donate.html">DONATE NOW</a>
                </div>
            </div>
        </div>
    </div>

    <section id="contact" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 doners">
                    <h3 class="donation-head">Doner's Privacy Policy</h3>
                    <div class="doners-container">
                        <!-- <% for(let i=0; i<10; i++){%>
                        <div class="row">
                            <div class="col-md-6 doner-name">Pranav Shukla</div>
                            <div class="col-md-6 donation-value">Rs. 500</div>
                        </div>
                        <% } %> -->
                        <!-- <span>We collects and maintains the following information when voluntarily provided to us:</span> -->
                        <ul>
                            <li>We collect contact information such as Name, Number, address and Email-address when provided voluntarily</li>
                            <li>Donors' information will be kept private and safe.</li>
                            <li>No misuse of any personal information will be made.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 contact">
                    <h3 class="donation-head">Join Us</h3>
                    <div class="content">
                        Want to join us?<br/>
                        Drop us a mail at:<br/>
                        <span>winterclothdrive@gmail.com</span><br/>
                        Or DM us on Instagram <br/>
                        <span>@winterclothdrive</span><br/>
                        Or Whatsapp us on <br/>
                        <span>(+91) 9129465749 (Kratika Mishra)</span><br/>

                    </div>
                </div>
            </div>
        </div>
    </section> 
    <div class="copyright">
           &copy; Winter Cloth Drive | All Rights Reserved.
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>
</html>