<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winter Cloth Drive</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="/"><img class="img-responsive" width="100%" src="img/logo.jpeg" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <!-- <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="/donate"><span>Donate</span></a> -->
          </div>
        </div>
      </nav>

    <section class="donation-info">
        <div class="container">
            <div class="donate-clothes">
                    <h3 class="donation-head">Donate Clothes</h3>
                <div>
                    Fill a form <a href="https://forms.gle/bz5CZxMM21NsRHHZ7" target="_blank">HERE</a> and we will reach to you.
                </div>
            </div>
            <div class="donate-money">
                <h3 class="donation-head">Donate Money</h3>
                <div class="row">
                    <div class="col-md-6 qrcode-container">
                        <div>
                            Send Money via UPI at:<br> <span>kratikamishra276@okaxis</span><br><br>
                            Or Scan the following QR code for<span> G-Pay</span>
                        </div>
                        <div class="qr-code">
                            <img src="img/qr.jpeg" width="100%" height="100%" alt="qrcode">
                        </div>
                    </div>
                    <div class="col-md-6 account-container">
                        <div>Send Money via Bank Transfer</div>
                        <div class="account-details">
                            Account No.:<br/> <span>45874 4578 4598 5624</span><br/>
                            IFSC Code:<br/> <span>ABC0025468</span><br/>
                            Branch:<br/> <span>Sanjay Nagar</span><br/>
                            Address:<br/> <span>abcijiooi iwjfoiwfjiofwjo </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>      
    
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 doners">
                    <h3 class="donation-head">Doner's Privacy Policy</h3>
                    <div class="doners-container">
                        <!-- <% for(let i=0; i<10; i++){%>
                        <div class="row">
                            <div class="col-md-6 doner-name">Pranav Shukla</div>
                            <div class="col-md-6 donation-value">Rs. 500</div>
                        </div>
                        <% } %> -->
                        <!-- <span>We collects and maintains the following information when voluntarily provided to us:</span> -->
                        <ul>
                            <li>We collect contact information such as Name, Number, address and Email-address when provided voluntarily.</li>
                            <li>Donors' information will be kept private and safe.</li>
                            <li>No misuse of any personal information will be made.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 contact">
                    <h3 class="donation-head">Join Us</h3>
                    <div class="content">
                        Want to join us?<br/>
                        Drop us a mail at:<br/>
                        <span>winterclothdrive@gmail.com</span><br/>
                        Or DM us on Instagram <br/>
                        <span>@winterclothdrive</span><br/>
                        Or Whatsapp us on <br/>
                        <span>7007046822</span><br/>

                    </div>
                </div>
            </div>
        </div>
    </section> 
    <div class="copyright">
        &copy; Winter Cloth Drive | All Rights Reserved.
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>
</html>